/*  your css code here. If applicable */
*{
	background-color: #cccccc;
}
h1{
	text-align: center
}
a{
	background-color: white;
	text-decoration: none;
}
.player_one {
	border: 2px solid black;
	border-radius: 5px;
	background-color: white;
	padding-top:20px;
	padding-bottom:20px;
	padding-left: 10px;
}
h4{
	text-align: center;
	margin-top: -1px;
}
.player_two{
	width: 350px;
	height:370px;
	border: 2px solid black;
	border-radius: 5px;
	background: white;
	margin: auto;
}
#one{
	background: white;
	text-align: center;
}
audio{
	background: white;
	padding-left: 25px;
	
}
video{
         padding-left: 15px;
	     background: white;
	     padding-top: 15px;
	     
}
